body {
    background-color: lightgray;
}

#Locations, #Amenities, #Contact, #Reviews{
    font-family: 'Hind', sans-serif;
}

nav {
    background-color: darkslategray;
    color: white;
    margin-bottom: 0;
}

    nav#navvy.navbar.navbar-static-top {
        margin-bottom: 0;
    }

#navvy a {
    color: white;
    font-family: 'Libre Baskerville', serif;
}

    #navvy a:hover {
        background: none;
    }

.headerlinks a {
    /*make smallcaps?*/
}

/*Jumbotron Header*/
.jumboHeader {
    margin: 0 auto;
    height: 80vh;
    background-image: url('../images/12032052_10153660268617650_4945984882558392804_n.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.jumboText {
    padding-left: 2vw;
    color: darkslategray;
}

.jumboText h1{
    font-family: 'Pacifico', cursive;
        text-shadow: 3px 3px 2px white;
}

.jumboText h3{
    font-family: 'Alegreya', serif;
    font-weight: 700;
    text-shadow: 1px 1px 2px white;
}

/*All the Section Headers*/
.page-header {
    background-color: darkslategray;
    margin: 0 auto;
    color: white;
    font-family: 'Libre Baskerville', serif;
}

/*LOCATIONS SECTION*/
.locationsRow {
    padding-top: 25px;
    padding-bottom: 5px;
}

.caption {
    margin: 0 15px;
}

.btn {
    background-color: darkslategray;
    color: white;
}

.reverseTheme {
    background-color: darkslategray;
    color: white;
}

    .reverseTheme .btn {
        background-color: white;
        color: darkslategray;
    }


/*AMENITIES SECTION*/

#Amenities {
    margin: 10vh auto;
}

    #Amenities h1, h3 {
        text-transform: uppercase;
    }

/*
.amenitiesCol img {
    width: 28.6vw;
    height: 50vh;
}

.amenitiesCol p {
    position: absolute;
    color: white;
    background-color: rgba(47,79,79,0.7);
    padding: 10px;
    margin-top: 20vh;
    margin-left: 9vw;

}
    */

.amenitiesAd {
    text-align: center;
}

    .amenitiesAd h1 {
        margin-top: 0;
        padding: 5vh 2vw 1vh 2vw;
    }

    .amenitiesAd p {
        padding: 0 2vw 1vh 2vw;
    }

#Amenities button {
    padding: 10px;
    color: white;
    background-color: rgba(47,79,79,0.7);
    margin-top: 15vh;
    margin-left: 8vw;
}


.amenBox {
    width: 28.6vw;
    height: 50vh;
}

#box1-1 {
    background-image: url('../images/IMG_1534.jpg');
    background-size: cover;
}

#box1-3 {
    background-image: url('../images/15391536_10211298780935526_159012009544429383_o.jpg');
    background-size: cover;
}


#box2-2 {
    background-image: url('../images/Cake Truck_70.jpg');
    background-size: cover;
}

#box3-1 {
    background-image: url('../images/18197814_10208863268446764_1456880107_n.jpg');
    background-size: cover;
}


#box3-3 {
    background-image: url('../images/15138542_557616434434610_4579925431041229921_o.jpg');
    background-size: cover;
}


/*REVIEW SECTION*/
#myCarousel {
    margin: 5vh auto;
}

    #myCarousel p {
        font-style: italic;
        padding: 5vh 15vw 0vh 15vw;
    }

.carousel-indicators {
    position: relative;
    padding-top: 4vh;
}

.carousel-control.left {
    background-image: none;
}

.carousel-control.right {
    background-image: none;
}


/*CONTACT SECTION*/

#Contact {
    margin: 10vh auto;
}


/*FOOTER*/

.footer {
    padding: 50px;
}

.glyphicon-chevron-up {
    font-weight: 900;
    font-size: 17px;
}

span.glyphicon-chevron-up {
    color: white;
}


